# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Rust
/target/
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg
*.egg-info

# mdbook build output
book/

# Debug files
*.dSYM/
*.su
*.pb

# Reversing stuffs
/reversing/

# IDA database files
*.id0
*.id1
*.id2
*.idb
*.i64
*.nam
*.til

# Ghidra project files
*.gpr
*.rep/

# Network traffic captures
*.pcapng

# Miscellaneous system files
.DS_Store
*~
._*
.env
Thumbs.db

# Editor files
/.vs/
/.vscode/
/.idea/

# Build output
/[Bb]in/
/[Bb]uild/
/[Dd]ebug/
/[Oo]bj/
/[Rr]elease/
*.zip

# Game type list
r*.Wizard*.json

result/
